@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    font-size:18pt;
    font-weight:bold;
}
/*WELCOME HEADER*/
.welcome{
    font-size:22pt;
    margin:20px 100px
}
/*ASIDE SELECT*/
#container{
    display:flex;
    margin:30px 50px;
}
#container aside{
    flex:1;
    margin-right: 50px;
}
#container aside p{
    font-size:13pt;
}

/*Section*/
#container section{
    flex:4;
    border:solid black 3px;
    display:flex;
    flex-wrap:wrap !important;
    box-sizing:border-box;
    background-color:rgb(204, 200, 200)
    
}
section form *{
    font-size:12pt;
    font-weight:bold;
    margin-top: 7px;
}
section form{
    display:flex;
    flex-direction: column;
    width:219px;
    margin:20px;
    background-color:white;
    border:solid 3px white;
    border-radius: 20px;
    box-shadow: 5px 5px gray;
    border-radius:30px;
    padding:7px;
    align-items: center;
    
    
}
section form img{
    width:100%;
    height:199px
}