<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/farmer.css' %}">
    </head>
<body>
    <nav class="navbar">
        <a class="navbar-brand new1" href="http://127.0.0.1:8000/farmer"><i class="fa fa-home"></i>        Home</a>
        <a class="navbar-brand new2" href="http://127.0.0.1:8000/farmer/add_crop"><i class="fa fa-plus"></i>     Add Crop</a>
        <a class="navbar-brand new3" href="/logout"><i class="fa fa-sign-out" ></i>   Logout</a>
    </nav>
    <div class="content">
        <h1>Wlecome {{this_farmer.first_name}} {{this_farmer.last_name}} to the Agriculture World </h1> 
        <p>Thank You For Joining Our Wibsite in this page you can see your own details <br>
            detalis can be shown by clicking on detalis below or you can add or edit Crops by clicking
            on button above
        </p>
        
    </div>
    <details class="details">
      <summary>Crop Detalis </summary>
        <table class="table table-dark table-striped">
            <thead>
              <th scope="row">Crop Name</th>
              <th scope="row">Quantity (Kg)</th>
              <th scope="row">Price ($/Kg) </th>
              <th scope="row">Quality</th>
              <th scope="row">Sales</th>
              <th scope="row">Action</th>
            </thead>
            <tbody>
              {% for crop in this_farmer.crops.all %}
              <tr class="table-active">
                <td> {{ crop.crop_name }}</td>
                <td>{{ crop.quantity }}</td>
                <td>{{ crop.price }}</td>
                <td>{{ crop.quality }}</td>
                {%if crop.sales.all %}
                {%for sale in crop.sales.all%}
                <td>{{ sale.quantity }} KG</td>
                {% endfor %}
                  {% else %}
                  <td>0 KG</td>
                {% endif %}
                <td class="action"><a href="/delete/{{ crop.id}}">Delete</a>  | <a href="http://127.0.0.1:8000/farmer/edit_crop/{{crop.id}}">Edit</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </details>
</body>
</html>