<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">  
    <link rel="stylesheet" href="{% static 'css/trader_buy_crop.css' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Buy Crop</title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand new1" href="/trader"><i class="fa fa-home"></i>        Home</a>
        <a class="navbar-brand new2" href="/trader/purchases"><i class="fa fa-list"></i>     Purchases</a>
        <a class="navbar-brand new3" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>   Logout</a>
    </nav>
    <div id="container">
        <section>
            <div class="details">
                <p>Crop Name : {{this_crop.crop_name}}</p>  
                <p>Farmer Name : {{this_crop.farmer.first_name}}   {{this_crop.farmer.last_name}}</p>
                <p>Price : {{this_crop.price}}$</p>
                <p>Quantity : {{this_crop.quantity}}kg</p>
                <p>Quality : {{this_crop.quality}}</p>
                <p class="green">Phone Number : {{this_crop.farmer.phone_number}}</p>
                <p class="green">City : {{this_crop.farmer.city}}</p>
                <p class="green">Description: {{this_crop.desc}}</p>
            </div>
            <form action="/trader/{{this_crop.id}}/buy" method="post">
                {% csrf_token %}
                <p class="p-one">Insert the quantity you want : </p>                <div class="input-group mb-3">
                    <input name='quantity'type="text" class="form-control" placeholder="Insert here" >
                    <span class="input-group-text">KG</span>
                </div>
                <button type="submit" class="btn btn-success">Add to Purchases</button>                
            </form>
        </section>
        <img src="{% static 'imgs/contact.svg' %}" alt="illustrations contact">
    </div>
</body>
</html>